.navbar-component-container{
    display: flex;
    justify-content: space-around;
    padding: 1em 2em;
    background-color: #FFEBC1;
}

.navbar-component-container div {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #8E3200;
}

.navbar-brand-container svg{
    fill: #8E3200;
    
}

.navbar-brand-container a{
    font-family: 'IM Fell DW Pica', serif;
    font-size: 1.5rem;
}