.navbar-component-container{
    padding: 1em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.navbar-component-container div {
    display: flex;
    align-items: center;
    color: #8E3200;
    gap: 20px;
}

.navbar-brand-container svg{
    fill: #8E3200;
}

.navbar-links-container{
    font-size: 1.2rem;
}

.navbar-media-container{
    font-size: 1.8rem;
}