@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Work+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}